Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Rule to forward http to https
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</IfModule>

php_value    upload_max_filesize    100M
php_value    post_max_size          120M
php_flag     display_errors         ON
php_value    error_reporting        ON
php_flag     short_open_tags        OFF
php_value    max_input_vars         10000
php_value    max_execution_time     600
#php_value session.gc_maxlifetime  21600

# use the below for php error logging - log_errors On or Off
php_flag log_errors On
php_value error_log /var/www/sites/logs/php-errors.log
