<?php
require_once("libraries/custodians/cCustodian.php");
require_once('modules/ModSecurities/actions/ConvertCustodian.php');
include_once("include/utils/omniscientCustom.php");

$start = date('Y-m-d', strtotime('-5 days'));
$finish = date('Y-m-d');

echo date("Y-m-d H:i:s") . ' - start it all - <br />';
StatusUpdate::UpdateMessage("CRONUPDATER", "Beginning Portfolio Pull");
$rep_codes = PortfolioInformation_Module_Model::GetRepCodeListFromUsersTable();
cTDPortfolios::CreateNewPortfoliosForRepCodes($rep_codes);//Create any missing TD portfolios
echo date("Y-m-d H:i:s") . ' - portfolios created TD - <br />';
cFidelityPortfolios::CreateNewPortfoliosForRepCodes($rep_codes);//Create any missing Fidelity portfolios
echo date("Y-m-d H:i:s") . ' - portfolios created Fidelity - <br />';
cSchwabPortfolios::CreateNewPortfoliosForRepCodes($rep_codes);//Create any missing Fidelity portfolios
echo date("Y-m-d H:i:s") . ' - portfolios created Schwab - <br />';
#echo 'now check for 678498025';exit;

StatusUpdate::UpdateMessage("CRONUPDATER", "Grabbing Accounts");
$accounts = PortfolioInformation_Module_Model::GetAccountNumbersFromRepCode($rep_codes);
#$accounts = PortfolioInformation_Module_Model::GetAllAccountNumbersInCRM($rep_codes);
echo date("Y-m-d H:i:s") . ' - Accounts organized - <br />';

$copy = new CustodianToOmniTransfer($accounts);
StatusUpdate::UpdateMessage("CRONUPDATER", "Updating Portfolios");
$copy->UpdatePortfolios();
echo date("Y-m-d H:i:s") . ' - Portfolios Updated !- <br />';
StatusUpdate::UpdateMessage("CRONUPDATER", "Updating Securities");
$copy->CreateSecurities();
echo date("Y-m-d H:i:s") . ' - Securities Updated - <br />';
StatusUpdate::UpdateMessage("CRONUPDATER", "Updating Positions");
$copy->CreatePositions();
echo date("Y-m-d H:i:s") . ' - Positions Updated - <br />';
StatusUpdate::UpdateMessage("CRONUPDATER", "Updating Transactions");
$copy->CreateTransactions();
echo date("Y-m-d H:i:s") . ' - Transactions Updated - <br />';

StatusUpdate::UpdateMessage("CRONUPDATER", "Consolidating Balances");
PortfolioInformation_Module_Model::ConsolidatedBalances($accounts, $start, $finish);
echo date("Y-m-d H:i:s") . ' - Balances Consolidated - <br />';
StatusUpdate::UpdateMessage("CRONUPDATER", "Finished Process");


//Calculate Balance for TD Portfolios
$sdate = date("Y-m-01");
$edate = date("Y-m-d");
global $adb;
$portfolio_result = $adb->pquery("select * from vtiger_portfolioinformation 
inner join vtiger_crmentity on crmid = portfolioinformationid where deleted = 0 and origination = 'TD'");
$accounts = array();
for($i = 0; $i < $adb->num_rows($portfolio_result);  $i++){
	$accounts[] = $adb->query_result($portfolio_result, $i, "account_number");
}
cTDPortfolios::CalculateAndWriteBalances($accounts, $sdate, $edate);
cTDTransactions::UpdateAllTransactionsOperations([]);
